<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.gdn.wisatakuy">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name="com.gdn.wisatakuy.ApplicationBase"
        android:allowBackup="true"
        android:icon="@drawable/ic_icon_wisata"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/gmaps_key"/>

        <activity
            android:name="com.gdn.wisatakuy.ui.splashscreen.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.gdn.wisatakuy.ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.gdn.wisatakuy.ui.detail.DetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.account.LoginActivity"
                  android:screenOrientation="portrait"/>
    </application>

</manifest>